<div class="app-social-landing" [ngStyle]="{'background-image': 'url(' + 'assets/social-listening-background.jpg'+ ')'}">

  <!-- Twitter -->
  <section class="app-social-card-twitter" routerLink="/social-listening/twitter">
    <mat-card>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </mat-card>
    <p>Twitter</p>
  </section>

  <!-- News -->
  <section class="app-social-card-news" routerLink="/social-listening/news">
    <mat-card>
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
    </mat-card>
    <p>News</p>
  </section>

</div>
